body {
    font-family: sans-serif;
    margin: 0px;
}

main {
    text-align: center;
    margin-top: 50px;
}

/* 
-----
TABLE 
-----
*/
table {
    border-collapse: collapse;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

/* 
-----
HEADER AND CONTENT 
-----
*/
header {
    text-align: center;
    /* background-image: url("../images/la.gif");
    background-size: cover; */
    height: 150px;
    margin-top: 0px;
}

/* #imageWrap {
    position: relative;
} */

#hunter {
    height: 150px;
    z-index: 10;
}

/* #nyc {
    width: 500px;
    height: 300px;
    position: absolute;
    z-index: 0;
} */

nav ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 20px;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}

/* 
-----
CART POPUP 
-----
*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /* text-align: center; */
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}
  
/* The Close Button */
.close, .addToClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus, .addToClose:hover, .addToClose:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#loginContent {
    text-align: center;
}