/*
-----
HTML
-----
*/
body
{
    font-family: sans-serif;
    margin: 0px;
}

main
{
    text-align: center;
    margin-top: 50px;
}

footer
{
    margin-top: 100px;
    margin-bottom: 50px;
    border-top-color: black;
    border-top-width: 1px;
    border-top-style: solid;
}

/*
-----
BUTTON
-----
*/
#addItem
{
    width: 200px;
    height: 50px;
    /* border-radius: 25px; */
    margin-bottom: 50px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#addItem:hover,
#addItem:focus
{
    background-color: rgb(0, 0, 0);
    color: white;
}

#editItem,
#deleteItem
{
    width: 100px;
    height: 25px;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

/* 
-----
TABLE 
-----
*/
table
{
    border-collapse: collapse;
    border: none;
    background: #CCC
}

table.center
{
    margin-left:auto; 
    margin-right:auto;
}

th 
{
    background: #CCC;
}

th,
td
{
    padding: 10px;
    text-align: left;
    border: none;
}

tr:nth-child(even)
{
    background: #CCC;
}
tr:nth-child(odd)
{
    background: #FFF;
}

/* 
-----
HEADER AND CONTENT 
-----
*/
header 
{
    text-align: center;
    height: 200px;
    margin-top: 0px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#hunter 
{
    height: 150px;
    z-index: 10;
}

nav ul
{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li 
{
    display: inline;
    padding: 20px;
}

a 
{
    color: black;
}

a:link 
{
    text-decoration: none;
}
  
a:visited 
{
    text-decoration: none;
}

/*
-----
PRODUCT DISPLAY
-----
*/
.wrapper
{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 25px;
    background-color: #fff;
    color: #444;
    align-items: center;
    justify-content: center;
  }
  
.box
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 350px;
    align-items: center;
    display: grid;
    grid-template-rows: 200px 50px 50px 50px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

#editItem:hover, 
#editItem:focus,
#deleteItem:hover, 
#deleteItem:focus
{
    background-color: black;
    color: white;
}

#productImage {
    width: 150px;
}

/* 
-----
MODAL
-----
*/
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.7);
}
  
.modal-content
{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
}
  
.close,
.addToClose
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus,
.addToClose:hover,
.addToClose:hover
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
-----
ADD TO CART MODAL
-----
*/
.modal-content > #finalAdd
{
    width: 200px;
    height: 50px;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: block;
    margin-top: 25px;
}

.modal-content > #finalAdd:hover, 
.modal-content > #finalAdd:focus
{
    background-color: black;
    color: white;
}

.modal-content > select
{
    margin-top: 20px;
    width: 200px;
    height: 25px;
}

/*
-----
CART MODAL
-----
*/
.modal-content > #clearCart, 
.modal-content > #checkout
{
    width: 200px;
    height: 50px;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline;
}

.modal-content > #checkout:hover, 
.modal-content > #checkout:focus,
.modal-content > #clearCart:hover, 
.modal-content > #clearCart:focus 
{
    background-color: black;
    color: white;
}

/*
-----
DELETE PRODUCT MODEL
-----
*/
.modal-content > #finalDelete,
.modal-content > #noDelete
{
    width: 100px;
    height: 25px;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline;
    margin-top: 25px;
}

.modal-content > #finalDelete:hover, 
.modal-content > #finalDelete:focus,
.modal-content > #noDelete:hover, 
.modal-content > #noDelete:focus
{
    background-color: black;
    color: white;
}

/*
-----
ADD PRODUCT MODEL
-----
*/
.modal-content > #addFinal,
.modal-content > #addfinal
{
    width: 100px;
    height: 25px;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline;
    margin-top: 25px;
}

.modal-content > #addFinal:hover, 
.modal-content > #addFinal:focus
{
    background-color: black;
    color: white;
}